<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanxynet.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FragmentActivity"
            android:label="@string/fragment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LifeCycleActivity"
            android:label="Activity Lifecycle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/recyclerview"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/seekbar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SpinnerActivity"
            android:label="@string/spinner"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditTextActivity"
            android:label="@string/edit_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RadioCheckboxActivity"
            android:label="@string/radio_and_checkbox"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>